# Server Port
PORT=5000

# Client Origins for CORS (comma separated)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:5174

# MongoDB Atlas Connection URI
# In MongoDB Atlas > Network Access, add 0.0.0.0/0 (Allow Access from Anywhere)
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/panjtara
